.toggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; 
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

.toggle {
	opacity: 0;
}

.toggle + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 85px 15px 60px;
}

label .created {
	font-size: 13px;
	color: gray;
	
}

label .description {
	position: relative;
    font-size: 24px;
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-weight: 400;
	color: #4d4d4d;
}

/*li.completed label .description {
	color: #cdcdcd;
	text-decoration: line-through;
}
*/
.icon {
	position: relative;
	top: -55px;
	width: 30px;
	height: 40px;
	font-size: 34px;
	color: #cc9a9a;
	margin: auto 0 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.icon:hover {
	color: #af5b5e;
}

.icon-destroy {
	right: -10px;
}

.icon-destroy:after {
	content: '×';
}

.icon-edit {
	font-size: 19px;
	right: 45px;
}

.icon-edit:after {
	content: '✎';
}