.add-form{
    display: inline-block;
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
   
}

.add-form:hover{
    cursor:pointer;
    border-color: rgba(175, 47, 47, 0.1);
}