.todo-list li .icon-pause,
.todo-list li .icon-play {
	font-size: 18px;
	width: 18px;
	height: 18px;
    top:-11px;
}
.time{
    position: relative;
}
.todo-list li .icon-pause{
    right: 55px;
}
.todo-list li .icon-play{
    right: 50px;
}


.icon-pause:after {
	content: '⏸';
}

.icon-play:after {
	content: '▶';
}

