.header h1{
	position: absolute;
	font-size: 80px;
	top: -100px;
	width: 100%;
	
	font-weight: 200px;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
