.editing .view {
	display: none;
}

.editing {
	border-bottom: none;
	padding: 0;
	height: 60px;
}

.edit {
	position: relative;
	top:-50px;
	display: block;
	width: calc(100% - 43px);
	padding: 12px 16px;
	margin: 0 0 0 43px;
	font-size: 24px;
	font-family: inherit;
	font-style: normal;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


